name: 'Deno Container CI/CD Pipeline'
on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

permissions:
  contents: read

jobs:
  # lint-and-test:
  #   name: Lint and Test
  #   runs-on: ubuntu-latest

  #   steps:
  #   - name: Clone repository
  #     uses: actions/checkout@main

  #   - name: Setup Deno
  #     uses: denoland/setup-deno@v2.0.3
  #     with:
  #       deno-version: 2.5.6

  #   - name: Install
  #     run: deno install

  #   - name: Linter
  #     run: deno lint

  #   - name: Tests
  #     run: deno test -A

  build-and-deploy:
    name: Build and Deploy to Azure Container Registry
    runs-on: ubuntu-latest
    steps:
    # checkout the repo
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@main
      
    - name: 'Login via Azure CLI'
      uses: azure/login@v1
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}
    
    - name: 'Build and push image'
      uses: azure/docker-login@v1
      with:
        login-server: ${{ secrets.REGISTRY_LOGIN_SERVER }}
        username: ${{ secrets.REGISTRY_USERNAME }}
        password: ${{ secrets.REGISTRY_PASSWORD }}
    - run: |
        docker build . -t ${{ secrets.REGISTRY_LOGIN_SERVER }}/observ3r:${{ github.sha }}
        docker tag ${{ secrets.REGISTRY_LOGIN_SERVER }}/observ3r:${{ github.sha }} ${{ secrets.REGISTRY_LOGIN_SERVER }}/observ3r:latest
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/observ3r:${{ github.sha }}
        docker push ${{ secrets.REGISTRY_LOGIN_SERVER }}/observ3r:latest